<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header style="text-align:center">
      <img src="./logo.png" width="75" height="75" style="margin-top: 20px">
      <h2 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h2>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

      {% if site.show_downloads %}
        <a href="{{ site.github.home }}">Home&nbsp;</a>
        <a href="{{ site.github.about }}">&nbsp;About&nbsp;</a>
        <a href="https://github.com/landodo">&nbsp;GitHub </a>
      {% endif %}

    </header>
    <div style="padding: 0 15px; margin-top: 5px">
      <main id="content" class="main-content" role="main" style="padding: 20px; box-shadow: 0 8px 10px #959da5; border-radius: 5px; max-width: 750px; box-sizing: border-box; margin: 10px auto;">
        {{ content }}
      </main>
    </div>

     <footer class="site-footer" style= "text-align:center; margin-bottom: 5px">
        <span class="site-footer-credits">©Landon</span>
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
        </script>
        <span id="busuanzi_container_site_pv">
          | PV: <span id="busuanzi_value_site_pv"></span> views
        </span>
        <span id="busuanzi_container_site_uv">
           | UV: <span id="busuanzi_value_site_uv"></span> views
        </span>
      </footer>
  </body>
</html>